audio,canvas,video{
  display:inline-block;
  *display:inline;
  *zoom:1
}

audio:not([controls]){
  display:none
}

[hidden]{
  display:none
}

html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

html,button,input,select,textarea{
  font-family:sans-serif
}

body{
  margin:0
}

a:focus{
  outline:thin dotted
}

a:hover,a:active{
  outline:0
}

h1{
  font-size:2em;
  margin:0.67em 0
}

h2{
  font-size:1.5em;
  margin:0.83em 0
}

h3{
  font-size:1.17em;
  margin:1em 0
}

h4{
  font-size:1em;
  margin:1.33em 0
}

h5{
  font-size:0.83em;
  margin:1.67em 0
}

h6{
  font-size:0.75em;
  margin:2.33em 0
}

abbr[title]{
  border-bottom:1px dotted
}

b,strong{
  font-weight:bold
}

blockquote{
  margin:1em 40px
}

dfn{
  font-style:italic
}

mark{
  background:#ff0;
  color:#000
}

p,pre{
  margin:1em 0
}

pre,code,kbd,samp{
  font-family:monospace,serif;
  _font-family:'courier new',monospace;
  font-size:1em
}

pre{
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word
}

q{
  quotes:none
}

q:before,q:after{
  content:'';
  content:none
}

small{
  font-size:75%
}

sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sup{
  top:-0.5em
}

sub{
  bottom:-0.25em
}

dl,menu,ol,ul{
  margin:1em 0
}

dd{
  margin:0 0 0 40px
}

menu,ol,ul{
  padding:0 0 0 40px
}

nav ul,nav ol{
  list-style:none;
  list-style-image:none
}

img{
  border:0;
  -ms-interpolation-mode:bicubic
}

svg:not(:root){
  overflow:hidden
}

figure{
  margin:0
}

form{
  margin:0
}

fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}

legend{
  border:0;
  padding:0;
  white-space:normal;
  *margin-left:-7px
}

button,input,select,textarea{
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle
}

button,input{
  line-height:normal
}

button,input[type="button"],input[type="reset"],input[type="submit"]{
  cursor:pointer;
  -webkit-appearance:button;
  *overflow:visible
}

button[disabled],input[disabled]{
  cursor:default
}

input[type="checkbox"],input[type="radio"]{
  box-sizing:border-box;
  padding:0;
  *height:13px;
  *width:13px
}

input[type="search"]{
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}

textarea{
  overflow:auto;
  vertical-align:top
}

table{
  border-collapse:collapse;
  border-spacing:0
}



@import url("http://fonts.googleapis.com/css?family=OldStandardTT");
@import url("http://fonts.googleapis.com/css?family=OpenSans");
.container:before,.container:after{
  content:"";
  display:table
}

.container:after{
  clear:both
}

.container{
  zoom:1
}

body{
  font-family:'Open Sans','Myriad Pro','Myriad',sans-serif;
  color:#1d1313;
  font-weight:300
}

h1,h2,h3,h4,ul dl dt{
  font-family:'Old Standard TT',serif
}

.container{
  margin:0 auto;
  padding:0 0 40px 0;
  background:#fff;
  border:solid #d22042;
  border-width:2px 0 0 0;
  text-align:left
}

.resume{
  position:relative;
  padding:10px 20px
}

blockquote a{
  color:#1d1313;
  -webkit-transition:color 0.3s linear;
  -moz-transition:color 0.3s linear;
  -ms-transition:color 0.3s linear;
  -o-transition:color 0.3s linear;
  transition:color 0.3s linear
}

blockquote a:hover{
  color:#d22042
}

a{
  color:#d22042
}

a[href$='.pdf']{
  display:inline-block;
  background:#1d1313;
  color:#fff;
  padding:6px 12px;
  margin-bottom:6px;
  text-decoration:none
}

blockquote{
  margin:0;
  padding:0;
  line-height:1.4em;
  text-align:right
}

hr:nth-of-type(1){
  margin-top:8px
}

hr{
  display:block;
  position:relative;
  padding:0;
  margin:5px auto;
  width:100%;
  clear:both;
  border:none;
  border-top:1px solid #ccc;
  font-size:1px;
  line-height:0;
  overflow:visible;
  page-break-after:avoid
}

h1{
  margin:0;
  padding:0;
  font-size:36px;
  letter-spacing:-1px;
  font-weight:normal
}

h2{
  margin:0;
  padding:0;
  font-size:18px;
  font-style:italic;
  letter-spacing:-1px;
  font-weight:normal
}

h3{
  margin:0;
  padding:0 0 0.1em;
  font-size:120%;
  font-style:italic;
  font-weight:normal
}

p{
  margin:0em 0 0px;
  padding:0;
  display:block;
  font-size:14px;
  line-height:24px
}

ul{
  margin:0;
  padding:0;
  list-style:none
}

ul li{
  margin:0;
  padding:0
}

ul li p{
  margin:1em 0.5em;
  line-height:120%
}

ul dl{
  margin:0.3em 0 0;
  padding:0;
  width:100%
}

ul dl dt{
  font-size:100%
}

ul dl dd{
  margin:0 0 1em;
  padding:0 2em 0 0;
  font-size:0.8em;
  line-height:1.5em
}

ol{
  margin:0;
  padding:0 0 0.2em;
  width:84%;
  display:inline-block
}

ol li{
  margin:0 0 0 1em;
  padding:0;
  width:100%;
  float:left;
  list-style:none;
  line-height:24px;
  font-size:14px
}

dl{
  display:inline-block;
  width:75%;
  margin:0;
  padding:0
}

dl dt{
  margin:0;
  padding:0;
  font-size:140%
}

dl dd{
  margin:0 0 1.5em;
  padding:0;
  font-size:80%;
  line-height:1.4em
}

dl strong{
  display:block
}

dl em{
  display:block;
  font-size:110%;
  margin:0.15em 0 0.5em;
  font-style:bold
}

#footer{
  display:none
}

#footer + p{
  width:100%;
  font-size:11px;
  text-align:center
}

@media screen{
  body{
    padding:0
  }

  .container{
    width:100%
  }

}

@media (min-width:625px), print{
  .container{
    width:100%
  }

  .resume{
    margin:0 auto;
    padding:40px 50px;
    width:912px
  }

  blockquote{
    top:10px;
    right:50px;
    position:absolute
  }

  h1{
    margin-top:0;
    font-size:44px;
    letter-spacing:3px;
    font-weight:normal
  }

  h2{
    font-style:italic;
    letter-spacing:2px;
    font-weight:normal
  }

  h3{
    float:left;
    width:16%
  }

  h3 ~ p{
    float:left;
    margin-left:16%
  }

  h3 + p{
    margin-left:inherit;
    float:left;
    width:84%
  }

  ul li{
    width:28%;
    float:left
  }

  ul dl dt{
    font-size:122%;
    font-weight:normal;
    margin-bottom:0.75em
  }

  ul dl dd{
    padding:0 4em 0 0
  }

  ol{
    float:left;
    margin:0em 0 0
  }

  ol li{
    width:50%;
    margin:0
  }

  ol li:nth-child(2n){
    width:50%
  }

  ol li:nth-child(1),ol li:nth-child(2),ol li:nth-child(3){
    border-top:none
  }

  dl{
    margin:0.5em 0 0
  }

  dl strong{
    float:right;
    margin-top:-2em
  }

  dl em{
    font-size:130%;
    font-style:normal
  }

}

/*
@media (max-width:1000px){
  blockquote{
    top:25px;
    right:50px;
    position:absolute
  }

  h1{
    margin-top:0.5em
  }

  ol{
    margin:0 0 0 2em;
    padding-bottom:0;
    width:100%
  }

  ol li{
    width:33%;
    margin:0
  }

  ol li:nth-child(1),ol li:nth-child(2){
    border-top:none
  }

  ul li{
    width:33%;
    float:left
  }

  p{
    margin-left:25px;
    font-size:14px;
    line-height:20px
  }

  p strong,p em{
    font-size:17px;
    line-height:24px
  }

}
*/
@media (max-width:625px) not print{
  ul li{
    width:100%
  }

  ul br:nth-of-type(1){
    display:none
  }

  ul a{
    line-height:130%
  }

  blockquote{
    float:right;
    position:static
  }

  p{
    margin-left:5px;
    font-size:12px;
    line-height:16px
  }

  p strong,p em{
    font-size:14px;
    line-height:20px
  }

  ol li{
    width:50%;
    margin:0;
    font-size:12px
  }

}


@page{
  size:auto;
  margin:10mm
}
