	

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>

							<header>
								<h2 class="alt">Hello, I'm <strong>Kevin Law</strong>. 
							</header>
							
							
							<p>I am currently enrolled at Champlain College, majoring in Computer Networking and Information Security and minoring in Digital Forensics.<br />
				I'm an <b>IT Security Researcher</b>, <b>Digital Forensic Investigator</b>, and a <b>Network Administrator</b>.</p>

							<footer>
								<a href="./KevinLawResume.pdf" class="button scrolly">View my Resume</a>
							</footer>

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
							
						<p>Originally from New Jersey, I now reside in Vermont to study at Champlain College. I am fascinated by Technology and Information Security.</p>	
				

						</div>
					</section>
					
					
					
				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">
					
							<header>
								<h2>Current Work</h2>
							</header>
							<a href="#" class="image featured"><img src="images/computer.jpg" alt="" /></a>
							<p>Currently I am working on Malware Analysis and researching various threat campaigns. More can be found at <a href="http://blog.kevinlaw.info">Blog.kevinlaw.info</a>.</p>
						
							
						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<a href="#" class="image featured"><img src="images/notebook.jpg" alt="" /></a>
							<p>You can reach me at <br />
							
				<a href="mailto:mail@kevinlaw.info">mail@kevinlaw.info</a> <a href="http://kevinlaw.info/kevinlawpub.txt">[PGP]</a><br />
				<a href="https://twitter.com/thatarchguy"> Twitter</a> <br />
				<a href="https://github.com/thatarchguy">Github</a> <br />
				<a href="http://www.linkedin.com/pub/kevin-law/65/782/53b">Linkedin</a> <br />
							</p>
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
			
			</div>
