	<!-- Header -->
			<div id="header" class="skel-panels-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">Kevin Law</h1>
							<span class="byline">CyberSecurity Specialist</span>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
							<!-- the init.js now parses for "#nav c", which makes the links scrollify links. AKA only accepts #stuff links. -->
								<li><c href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Intro</span></c></li>
								<li><c href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About Me</span></c></li>
								<li><c href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Current Work</span></c></li>
								<li><c href="#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contact</span></c></li>
								<!-- these remain normal links now because of above -->
								<li><a href="/blog" class="skel-panels-ignore"><span class="fa fa-terminal">Blog </span></a></li>
								<li><a href="/KevinLawResume.pdf" target="_blank" class="skel-panels-ignore"><span class="fa fa-suitcase">Resume </span></a></li>
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://twitter.com/thatarchguy" class="fa fa-twitter solo"><span>Twitter</span></a></li>
							<li><a href="http://github.com/thatarchguy" class="fa fa-github solo"><span>Github</span></a></li>
							<!-- <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
							
							<li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li> -->
							<li><a href="mailto:mail@kevinlaw.info" class="fa fa-envelope solo"><span>Email</span></a></li>
							
							<li><a href="http://www.linkedin.com/pub/kevin-law/65/782/53b/" class="fa fa-linkedin-square"><span></span></a></li>
						</ul>
				
				</div>
			
			</div>
